<form [formGroup]="ngform" (ngSubmit)="mySubmit()">

                 <h1> WELCOME TO THE REGISTRATION PAGE</h1>

<table>
  <div class="form-group">
  

    <label for="name">NAME</label>
    <input formControlName="name" id="name" type="text" class="form-control">
    <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
      <div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required.</div>
      <div *ngIf="f['name'].errors && f['name'].errors['minlength']"> minlength is required</div>

    </div>

  </div>
  


  <div class="form-group">
    <label for="name">EMAIL</label>
    <input formControlName="email" id="email" type="text" class="form-control">
    <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
      <div *ngIf="f['email'].errors && f['email'].errors['required']">email is required.</div>
      <div *ngIf="f['email'].errors && f['email'].errors['minlength']"> minlength is required</div>

    </div>

  </div>
  <div class="form-group">
    <label for="name"> PHONENO</label>
   <input formcontrolName="phone No"  id="phoneno" type="number" class="form-control">
     <div *ngif="f['phone no'].touched && f['phoneno'].invalid" class="alert alert-danger"></div>
      <div *ngif="f['phoneno'].errors && f['phoneno'].errors['required']"> phoneno required </div>
      <div *ngif="f['phoneno'].errors && f['phoneno'].errors['minlength']"> minimum 10 digits required</div>
      <div *ngif="f['phoneno'].errors && f['phoneno'].errors['maxlength']"> maximum 10 digits required</div>
    </div>


 

 

  


  <div class="form-group">
    <label for="name">ADDRESS</label>
    <input formControlName="address" id="address" type="text" class="form-control">
    <div *ngIf="f['address'].touched && f['address'].invalid" class="alert alert-danger">
      <div *ngIf="f['address'].errors && f['address'].errors['required']">address is required.</div>
      <div *ngIf="f['address'].errors && f['address'].errors['minlength']"> minlength is required</div>

    </div>

  </div>

  <tr>
    <td>
  <button class="btn btn-primary" [disabled]="ngform.invalid" type="submit">SUBMIT</button> 
  <button class="btn btn-primary" [disabled]="ngform.invalid" type="submit">RESET</button>
<td>

  </tr>
</table>
</form>



